      <style>
          .style1 {margin: 0 auto; border: 1px solid #bbb; padding: 5px; background-color: #eee; line-height: 1.5em;}
      </style>
      <link href="styles/main.css">     

    <img src="http://lorempixel.com/300/200/transport" width="300" height="200">
    <h3>Featured Products & Services</h3>        
<p></p>
 <ul>
  <li>Service One</li>
  <li>Service Two</li>
  <li>Products</li>
    <ul><li>Product 1
    <li>Product 2</li>
    <li>Product 3</li></ul>
 </ul>
 <div class="style1 right">
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum urna dui. Ut imperdiet facilisis sapien. Nunc ultrices sem eget ligula hendrerit pulvinar non et tellus. Ut dignissim vel ipsum sagittis faucibus. Aenean iaculis eleifend nulla id rhoncus. Cras velit leo, maximus et finibus a, molestie eget quam. 
 </div><br><br><br><br>
 <img src="http://lorempixel.com/300/200/transport"/>

 
     <marquee>Subscribe to our Newsletter to get daily specials emailed to you directly!!</marquee>
