@media only screen and (min-width:1047px) {
    body {
        font-size: 16px;
        line-height: 32px;
        font-family: "Krub", "Verdana", sans-serif;
        background-color:#6ac5f0;
       }
    
    body header{
        padding:1px;
        margin: 0px 0px;
    }   

    h1 {
       font-size: 60px /* x.xrem  rem is a unit of measure) */;
       color: #ffcc07;
       }
    h2 {
       font-size: 20px;
       border-bottom: 1px #f4ec4e;}
    img.hero{
        max-width:100%;
        margin: 10px 0px;
    }
    
    div.forecast{
        display:inline-block;
    }
    
    header img {
        width: 160px;
        height:auto;
        }
    
    div.weather{
        display:inline-block;
    }

    img.sun {
        width:160px;
        
    }

    div.weather h3{
        text-align:right;
        font-size:20px;
    }

    section.forecast{
        display:contents;
        font-size:30px;
        padding:20px;
        margin:1px;
        text-align:center;
    }
    
    
    section.forecast h3{
        font-size:30px;
        text-align:center;
    }
        nav ul{

            margin:0;
            padding:0px;
            width: [variable];
            height: 100%;;
            border: [variable];
            overflow:auto;
            position:none;
            list-style-type:none; 
            text-align:none;
    }
    
    nav li{
        display:inline-block;
        margin:5px;
        padding:8px;
        font-size:20px;
        font-family:Krub;
        text-decoration:none;
        list-style-type:none; 
        color:#007db9;
        text-align:center;
     }

     section{
        text-align:left;
        position:relative;
    }
   
    section div{
        position:absolute;
        top:-20px;
        background-color:#007db9;
    }
   
   section.forecast{
       display:inline-block;
   }
   
    main, footer {
      margin: 1.25rem auto;
      padding: .5rem;
      max-width:  100%/* xxxpx (px = pixel is a unit of measure)  */;}
    
      header{
       background-color:#007db9;
       max-width: 100%;
       font-size:40px;
       color:#f4ec4e;
      }
   main h2{
       font-size: 80px;
       text-align: center;
       padding:15px;
   }
   
   main h3{
       font-size:30px;
       text-align:left;
   }
   
   main div{
       text-align:left;
       margin:10px 0px;
       padding:0px;
   }
   
   main div h4{
       font-size:40px;
   }
   
   main article h3{
       font-size:60px;
       margin-left:10px;
   }
   
   main article h4{
       font-size:30px;
       margin-left:10px;
       display:none;
   }
   
   article img{
       max-width:50%;
       margin: 0px 0px;
       float: right;
       
   }
   
   p {
       font-family:"Verdana";
       font-size: 30px;
       color:white;
       clear:left;
   }
   footer section{
       text-align: center;
       background-color:#007db9;
       padding:10px;
       clear:right;
   }
   
   footer p{
       font-size:30px;
       color:#f4ec4e;
       column-count: 0;
       text-align:right;
       clear:left;
   }
   
   footer aside{
       color:#ffcc07;
       margin:0px;
       padding:20px;
   }
   
   footer aside p{
       background-color: #007db9;
       color:#ffcc07;
       text-align:center;
       padding:40px;
       
   }

   footer section img{
       max-width: 40%;
       margin: auto;
       float:left;
   }
   
   footer section h4{
       text-align:right;
       font-size:30px;
       color:#ffcc07;
       clear:left;
   }

    
}